<nav
  class="navbar navbar-expand bg-body-tertiary pb-2 mb-3 sticky-top shadow-sm"
>
  <div class="container-fluid">
    <a class="navbar-brand fs-2" href="/">A Simple Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-4">
        <li class="nav-item">
          <a
            class="home-link nav-link active"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        {{! if they're logged in, they see logout & new post }}
        {{#if logged_in}}
          <li class="nav-item">
            <a class="nav-link" id="logout" href="#">Logout</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/profile">New Post</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        {{else}}
          {{! if they're not logged in, they see login }}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}