{{!-- 
    I want a card generated for each blog post
    -- set it up as partials? and then run a {{ #each }} over each one and plug in the data


 --}}

{{!-- <section class="card">
    <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</section> --}}
{{#each allPosts as |blogPost|}}
{{> blogpost-details }}
{{/each}}
