<form class="newPost">
    <div class="mb-3">
        <label for="text" class="form-label">Title</label>
        <input type="text" class="form-control" id="blog-title" placeholder="New Blog Post">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Content</label>
        <textarea class="form-control" id="blog-text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post!</button>
</form>

<script src="./js/newPost.js"></script>